/* global */
@counter-style fruits {
  system: cyclic;
  symbols: 🍋 🍑 🥝 🍉 🍒 🥑;
  suffix: " ";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-shadow: 3px 0px 5px rgba(0, 0, 0, 0.7);
}

.hidden {
  display: none;
}

input[type="text"] {
  border: 0;
  border-bottom: 1px solid white;
  background-color: transparent;
  transition: border-bottom 0.3s ease-out;
  /* font-family: "Times New Roman", Times, serif; */
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-family: cursive;
}
input[type="text"]:focus {
  outline: 0;
  border-bottom-width: 2px;
}
input[type="text"]::placeholder {
  color: white;
  opacity: 0.7;
}

/* local */
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-size: cover;
  background-attachment: fixed;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clock {
  font-size: 130px;
  text-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  margin: -50px 0 50px;
}

#login-form input[type="text"] {
  width: 150px;
  font-size: 15px;
}
#login-form input[type="submit"] {
  padding: 3px 12px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.7;
  border: 0;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  font-family: cursive;
}
#greeting {
  font-size: 24px;
}

#quote {
  margin: 10px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
#quote span:last-child {
  font-size: 12px;
}

#todo-form input[type="text"] {
  width: 230px;
  font-size: 16px;
}
#todo-list {
  max-height: 100px;
  margin-top: 10px;
  list-style: fruits;
}
#todo-list li {
  line-height: 24px;
}
#todo-list li button {
  width: 13px;
  height: 13px;
  margin-left: 10px;
  border: 0;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 7px;
}

#weather {
  position: absolute;
  bottom: 30px;
  display: flex;
  align-items: center;
}

#weather span:first-child {
  display: flex;
}
#weather span:last-child {
  margin-left: 5px;
}
#weather img {
  height: 30px;
  margin-bottom: -2px;
}
