* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 70vh;
  overflow-x: hidden;
  background-size: cover;
  background-attachment: fixed;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
